details, .damage-mods, .senses, .main-details, .foe-stats, .foe-physical, .foe-speeds, .base-box, .party-stats, .foe-proficiencies, .proficiencies {
  display: flex;
}

.main-details, .base-box {
  flex-direction: column;
  min-width: 50em;
}

.main-details {
  background-color: #BCBEF0;
  align-items: center;
  margin: 5em;
}

.party-stats {
  justify-content: center;
}

.base-box {
  background-color: #131316;
  color: #4AA3FC;
  margin-top: 1em;
  max-width: 6em;
  /* align-items: flex-start; */
}

summary {
  color: #3D157A;
  font-size: large;
  font-weight: 600;
  background-color: #EF81E5;
  padding-left: 10px;
}

p {
  background-color: #BCBEF0;
  color: #3D157A;
  margin: 1em;
  min-width: 5em;
  min-height: 1.5em;
  padding: 0.5em;
}

h3 {
  align-self: flex-start;
  margin-left: 1em;
}

details, p {
  text-align: left;
}

details {
  background-color: #EF81E5;
}

.purple {
  background-color: #3D157A;
  margin: .5em;
}

.foe-proficiencies > h3 {
  max-width: 5em;
}

.proficiencies {
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  
}

@media screen and (max-width: 500px) {
  .base-box {
    max-width: 75vw;
  }
  .main-details, .base-box {
    flex-direction: column;
    min-width: 24em;
    margin: .5em;
    flex-wrap: wrap;
    max-width: 24em;
  }
  .purple {
    flex-wrap: wrap;
  }
}