.EncounterDetails {
  overflow: auto;
}

details, .damage-mods, .senses, .main-details, .foe-stats, .foe-physical, .foe-speeds, .base-box, .party-stats, .foe-proficiencies, .proficiencies {
  display: flex;
  box-sizing: border-box;
}

.main-details {
  max-width: 90vw;
  min-width: 85vw;
  align-items: flex-start;
  align-content: center;
  align-self: center;
}

.party-stats {
  justify-content: center;
}

.base-box {
  background-color: #131316;
  color: #4AA3FC;
  margin-top: 1em;
  max-width: 90vw;
  align-self: flex-start;
  min-width: 85vw;
  border: 1px solid #BCBEF0;
  flex-direction: column;
}

summary {
  color: #3D157A;
  font-size: large;
  font-weight: 600;
  background-color: #EF81E5;
  padding-left: 10px;
}

p {
  background-color: #BCBEF0;
  color: #3D157A;
  margin: 1em;
  min-width: 2em;
  min-height: 1.25em;
  padding: 0.25em;
}

h3 {
  align-self: flex-start;
  margin: .5em;
}

details, p {
  text-align: left;
}

details {
  background-color: #901386;
}

.black {
  background-color: #131316;
  margin: 1em;
  flex-wrap: wrap;
}

.foe-proficiencies > h3 {
  max-width: 6em;
}

.foe-stats, .proficiencies {
  flex-wrap: wrap;
}

.foe-special-abilities, .foe-standard-actions, .foe-legendary-actions {
  padding: .25em;
}

.encounter-name {
  color: #EF81E5;
  padding: 5%;
}

@media screen and (min-width: 1101px) {
  .base-box {
    max-width: 45vw;
    min-width: 42.5vw;
    margin: 1em;
  }
}

@media screen and (max-width: 1100px) {
  .main-details, .base-box {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .base-box {
    align-self: center;
  }
}

@media screen and (max-width: 500px) {
  .main-details, .base-box {
    flex-direction: column;
    margin: .5em;
    flex-wrap: wrap;
  }
}