.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #BCBEF0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-button {
  text-decoration: none;
  padding-left: 100px;
  padding-right: 100px;
  align-self: flex-start;
}