/* MOBILE-FIRST VIEW */
.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #3D157A;
  /* background-image: linear-gradient(to bottom, #3D157A, #2D0F57, #3D157A); */
}

.greeting {
  color: #BCBEF0;
  font-family: 'Merienda', cursive;
  font-size: xx-large;
  margin-top: 10%;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  background-color: #131316;
  box-sizing: border-box;
  border: 1px solid #BCBEF0;
  padding: 10%;
}

.login-button {
  font-family: 'Arsenal', sans-serif;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  background-color: #3D157A;
  color: #4AA3FC;
  padding: 5px 15px 5px 15px;
  width: 250px;
}

/* TABLET VIEW */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .login-container {
    padding: 15%;
  }

  .login-button {
    width: 300px;
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 1024px) {
  .Login {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .greeting {
    flex-basis: auto;
    margin-top: 25%;
  }

  .login-container {
    flex-basis: auto;
    margin-top: 10%;
  }
}